<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>939598831264-bj5nkjhi5eqsj0g16d0govhec0g0sk8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939598831264-bj5nkjhi5eqsj0g16d0govhec0g0sk8d</string>
	<key>API_KEY</key>
	<string>AIzaSyA7c9Hc1K0giNZKJgncBm_yVBbhKOWgpj4</string>
	<key>GCM_SENDER_ID</key>
	<string>939598831264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladalexa.VAInfo</string>
	<key>PROJECT_ID</key>
	<string>vainfo-e3e8c</string>
	<key>STORAGE_BUCKET</key>
	<string>vainfo-e3e8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939598831264:ios:96ad716dbb17089c</string>
	<key>DATABASE_URL</key>
	<string>https://vainfo-e3e8c.firebaseio.com</string>
</dict>
</plist>